<!DOCTYPE html>

<html>
<head>
    <meta charset=utf-8">
    <title>Twig</title>
</head>
<body>

     <form method="get">
        <input type="submit" formaction="admin" value="Back to admin page"> <br><br>
     </form>

    {% for a in admins %}
        <form method="post">
            <label> ID: </label> <br>
            <input type="text" id="1" name="data[0]" value = {{ a.id }} readonly></input> <br><br>
            <label> Username: </label> <br>
            <input type="text" id="4" name="data[3]" value={{ a.username }} readonly></input> <br><br>
            <label> First Name: </label> <br>
            <input type="text" id="2" name="data[1]" value={{ a.firstName }}></input> <br><br>
            <label> Last Name: </label> <br>
            <input type="text" id="3" name="data[2]" value={{ a.lastName }}></input> <br><br>          
            <label> Password: </label> <br>
            <input type="text" id="5" name="data[4]" value={{ a.password }}></input> <br><br>

            <input type="submit" formaction="editAdmin" value="Edit admin"> <br><br>
            <input type="submit" formaction="delete" value="Delete admin"> <br><br>
            <br><br>
        </form>
    {% endfor %}

</body>
</html>